PORT=5000

# Option 1: Local MongoDB (default)
MONGODB_URI=mongodb://localhost:27017/cafe-db

# Option 2: MongoDB Atlas Cloud (Free Cluster)
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/cafe-db?retryWrites=true&w=majority

JWT_SECRET=supersecretjwtkey_velvet_brews_2026

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

